/* GLOBAL */
#g4b_gallery {overflow: hidden;}
#g4b_gallery h3, #g4b_gallery p {margin: 0; padding: 0;}
#g4b_gallery .g4b_crumb {margin-bottom: 15px;}
#g4b_gallery .g4b_crumb,
#g4b_gallery .g4b_nav {
    background-color: #ececec;
    padding: 4px 8px;
}


/* ALBUMS */
.g4b_albums .g4b_row {margin-bottom: 10px;}
.g4b_albums .g4b_row .g4b_img {
    float: left;
    margin-right: 10px;
}
.g4b_albums .g4b_row .g4b_content h3,
.g4b_albums .g4b_row .g4b_content p {
    margin: 0;
    padding: 0;
}


/* PHOTOS */
.g4b_photos .g4b_row {float: left; margin: 0 15px 10px 0;}
.g4b_photos .g4b_row .g4b_content {display: none;}


/* SINGLE */
.g4b_photo .g4b_row .g4b_img {margin-bottom: 10px;}
.g4b_photo .g4b_nav {margin-top: 15px;}
.g4b_photo .g4b_nav .g4b_prev {float: left;}
.g4b_photo .g4b_nav .g4b_next {float: right;}